<!--
  Author: Elias Lawrence
  Date: 02/04/2021

  Generated template for the ProductPage.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="secondary">
    <ion-title>Produto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="position: relative;height: 60%;width: 100%;">
    <div style="position: absolute;width: 100%;z-index: 2;right: 10px;text-align: right;top: 10px;">
      <ion-badge>
        {{product.images.length}} foto{{product.images.length != 1 ? 's' : ''}}
      </ion-badge>
    </div>
    <div style="position: absolute;width: 100%;z-index: 2;color: #fff;left: 10px;text-align: left;bottom: 5px;">
      <ion-badge style="margin-bottom: 5px;" (click)="openStorePage()">
        <ion-icon name="cart"></ion-icon>
        <b> {{product.store.name}}</b>
      </ion-badge>
      <h2 style="margin: 0">{{product.name}}</h2>
    </div>

    <!-- <div class="photoslide" *ngIf="product.images && product.images.length > 0">
      <div *ngFor="let image of product.images; let i = index">  
        <img [src]="image.url" onerror="this.src='assets/imgs/no-image.png'"/>  
      </div>
    </div> -->
    <ion-slides *ngIf="product.images.length > 0">
      <ion-slide *ngFor="let image of product.images; let i = index">
        <div class="slide">
          <img [src]="image.url" onerror="this.src='assets/imgs/no-image.png'"/> 
        </div>
      </ion-slide>
    </ion-slides>

    <!-- <ion-slides style="position: absolute;height: 100%;" pager *ngIf="product.images.length > 0">
      <ion-slide *ngFor="let image of product.images; let i = index" style="position: relative;">
        <img [src]="image.url" onerror="this.src='assets/imgs/no-image.png'"/>
      </ion-slide>
    </ion-slides> -->
    <img src="assets/imgs/no-image.png" *ngIf="product.images.length == 0" id="product-no-image"/>
  </div>

  <ion-list>
    <ion-item-divider color="light" class="border-none">
      Dados do produto
    </ion-item-divider>
    <ion-item lines="full">
      <ion-label>
        <p>Preço</p>
        <h2 style="font-size: 20px">R$ {{product.price.toFixed(2).toString().replace('.', ',')}}</h2>
      </ion-label>      
    </ion-item>
    <ion-item lines="full" (click)="descriptionTapped()">
      <ion-label>
        <p>Descrição</p>
        <div [ngClass]="{'line-break': completeDescription, 'ellipsis-overflow': !completeDescription}">
          <h3>{{product.description}}</h3>
        </div>
      </ion-label>      
    </ion-item>    
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border height-50-px"></ion-footer>
