ion-slides {
    height: 100%;  
    ion-slide {
        height: 100%;
    }
}

img { 
    height: 100%;    
    object-fit: cover;
    width: 100%;
    filter: brightness(90%);
}

ion-list {
    padding-top: 0;
}

.slide{
    height: 100%; 
}

// #product-no-image {
//     height: 100%;    
//     object-fit: cover;
//     width: 100%;
// }