<!--
  Author: Elias Lawrence
  Date: 02/04/2021

  Generated template for the ProductsPage.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="primary">
    <ion-title *ngIf="!searchAble">Urk</ion-title>
    <ion-buttons slot="end" id="products-search" *ngIf="!searchAble" style="margin: auto;">
      <ion-button (click)="enableSearch()">
        <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar search-icon="undefined" mode="ios" inputmode="search" placeholder="Pesquisar" (ionInput)="search($event)" *ngIf="searchAble" class="searchbar" color="light"></ion-searchbar>
    <ion-buttons slot="end" *ngIf="searchAble" style="margin: auto;">
      <ion-button (click)="cancel()">
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div style="text-align: center">
    <ion-card *ngFor="let item of products; let i = index" (click)="itemTapped(item)">
      <div class="pricetag-button" style="position: relative">
        <img [src]="item.coverImage ? item.coverImage.url : 'assets/imgs/no-image.png'" onerror="this.src='assets/imgs/no-image.png'"/>
        <!-- <ion-fab vertical="top" horizontal="start" *ngIf="item.sales">
          <ion-fab-button color="light" (click)="newProduct($event)">
            <ion-icon name="pricetag"></ion-icon>
          </ion-fab-button>
        </ion-fab> -->
      </div>
      <!-- <div class="product-tags">
        <div>
          <button ion-button icon-only *ngIf="item.type == 1" class="special-tag">
            <ion-icon name="clock"></ion-icon>
          </button>
          <button ion-button icon-only *ngIf="item.type == 2" class="special-tag">
            <ion-icon name="ios-archive"></ion-icon>
          </button>
          <button ion-button icon-only *ngIf="contains(item.paymentOptions, '1')" class="common-tag">
            <ion-icon name="phone-portrait"></ion-icon>
          </button>
          <button ion-button icon-only *ngIf="contains(item.deliverOptions, '2')" class="common-tag">
            <ion-icon name="home"></ion-icon>
          </button>
        </div>
      </div> -->
      <ion-item lines="none">
        <ion-label>
          <h2 class="margin-top-5px product-price">
            R$ {{item.price.toFixed(2).toString().replace('.', ',')}}
          </h2>
  
          <!-- <div class="line-break product-name"> -->
            <p class="line-break product-name">{{item.name}}</p>
          <!-- </div> -->
  
          <div class="line-break product-store">
            <p>
              <ion-icon name="cart"></ion-icon>
              <b> {{item.store.name}}</b>
            </p>
          </div>
        </ion-label>        
      </ion-item>
    </ion-card>
  </div>

  <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loading-spinner="undefined">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>