<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  
  <ion-footer>
    <!-- <ion-toolbar> -->
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let page of appPages; let i = index" style="text-align: center;" (click)="itemTapped(i)">
            <div>
              <ion-icon [name]="page.icon + page.outline"></ion-icon>
            </div>            
          </ion-col>
        </ion-row>
      </ion-grid> 
    <!-- </ion-toolbar> -->
  </ion-footer>
</ion-app>
